* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
}

body {
  background: rgb(78, 184, 237);
  background: radial-gradient(
    circle,
    rgba(78, 184, 237, 1) 0%,
    rgba(188, 255, 254, 1) 100%
  );
  margin-top: 2rem;
}

h1 {
  font-family: "Mochiy Pop P One", sans-serif;
  font-size: 2rem;
  color: rgb(94, 94, 243);
}

textarea,
button,
input {
  border-radius: 5px;
  padding: 0.5rem;
}

textarea,
input {
  border: 2px solid rgb(94, 94, 243);
}

#submit-post-form {
  border-radius: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: rgb(49, 49, 167);
  margin: 2rem 0;
}

/* label {
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    font-size: 1.15rem;
} */

button {
  width: 100px;
  /* display: flex; */
  /* margin: 0 auto; */
  /* flex-direction: column; */
  color: black;
  background-color: gold;
  border: 2px solid rgb(250, 159, 56);
  transition: all 0.2s ease-in-out;
}

button:hover {
  cursor: pointer;
  transform: scale(1.1);
  background-color: #f9a30e;
  border: 2px solid gold;
}

.post {
  border: 2px solid blue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 1rem;
  border-radius: 5px;
}

.post__content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.post__user {
  font-size: 1.8rem;
}

/* .post__message {

} */

/* UTILITY CLASSES */

.center {
  margin-left: auto;
  margin-right: auto;
  max-width: 60rem;
}

.width-md {
  max-width: 40rem;
}

.width-sm {
  max-width: 20rem;
}

.stack-md > * + * {
  margin-top: 1.2rem;
}

@keyframes clouds {
  98.001%,
  0% {
    display: block;
    transform: translateX(-200%) translateY(100vh) rotateZ(0deg);
  }

  15% {
    transform: translateX(100vw) translateY(-100%) rotateZ(180deg);
  }

  15.001%,
  18% {
    transform: translateX(100vw) translateY(-30%) rotateZ(0deg);
  }

  40% {
    transform: translateX(-200%) translateY(3vh) rotateZ(-180deg);
  }

  40.001%,
  43% {
    transform: translateX(-200%) translateY(-100%) rotateZ(-180deg);
  }

  65% {
    transform: translateX(100vw) translateY(50vh) rotateZ(0deg);
  }

  65.001%,
  68% {
    transform: translateX(20vw) translateY(-200%) rotateZ(180deg);
  }

  95% {
    transform: translateX(10vw) translateY(100vh) rotateZ(0deg);
  }
}

img {
  max-width: 20%;
  animation: clouds 50s linear infinite;
  pointer-events: none !important;
  top: 0;
  left: 0;
  transform: translateX(-120%) translateY(-120%) rotateZ(0);
  position: fixed;
  animation-delay: 1s;
  z-index: 999999;
}
